<div class="container">

    <div class="jumbotron">
        <h1>About me</h1>
        <p>Contact for more info</p>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <h3>Personal Bio</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel metus a erat finibus lobortis fermentum
                eget ipsum. Proin justo nisl, pellentesque ut ultricies sit amet, euismod vel tortor. Nullam nec lacus
                sit amet eros ornare sagittis. Fusce elementum ante nisi, id semper metus interdum ac.</p>
        </div>

        <div class="col-sm-4">
            <h3>Upcoming events</h3>

            <p>Quisque ultricies vitae dui nec malesuada. Cras rhoncus rhoncus felis, non tincidunt magna.
                Phasellus ut libero sapien. Mauris fringilla a sem et dignissim. Suspendisse semper augue id est
                vehicula faucibus. Etiam sit amet nulla sapien. Nulla nunc lacus, sollicitudin eget nunc sed, hendrerit
                malesuada mi.</p>
        </div>

        <div class="col-sm-4">
            <h3>Contact information</h3>

            <p>Curabitur non arcu convallis, efficitur lorem in, faucibus velit. Aliquam tincidunt metus ac consequat
                luctus. Vivamus vitae malesuada ligula.</p>

            <p>Nullam eu luctus eros. Vivamus sem est, dapibus nec vulputate
                lobortis, vehicula sit amet quam. Nam sem turpis, bibendum sed tempus vel, malesuada in purus.</p>
        </div>

    </div>
</div>