<div class="jumbotron">
    <div class="container text-center">
        <h1>My Homepage</h1>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
</div>

<div class="container-fluid text-center">
    <h3>Some of my Work</h3><br>

    <div class="row">
        <div class="col-sm-3">
            <p>Abstract</p>
            <img src="components/home/demo-images/abstract.jpeg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>People</p>
            <img src="components/home/demo-images/people.jpeg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Animals</p>
            <img src="components/home/demo-images/animals.jpeg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Nature</p>
            <img src="components/home/demo-images/nature.jpeg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
